@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;

}

.content {
  background-color: white;
  border-radius: 15px;
  width: 960px;
  height: 60%;
  justify-content: space-between;
  align-items: center;
  position: relative;
 
}

.content::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: rgb(6, 105, 72);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  left: 0%;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.title-primary {
  color: white;
}
.title-second {
  color: rgb(6, 105, 72);
}

.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.description-second {
  color: rgba(69, 73, 72, 0.986);
  font-weight: bold;
}
.description-primary{
  color: #fff;
}

.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 50px;
  cursor: pointer;
  margin-top: 1rem;
  width: 170px;
  align-self: center;
  border: none;
  font-weight: bold;
  font-size: 12px;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid white;
  transition: background-color 0.5s;
}

.btn-primary:hover {
  background-color: white;
  color: rgb(6, 105, 72);
}

.btn-second {
  background-color: rgb(6, 105, 72);
  border: 1px solid rgb(6, 105, 72);
  transition: background-color .5s;
}

.btn-second:hover {
  background-color: #fff;
  border: 1px solid rgb(6, 105, 72);
  color: rgb(6, 105, 72);
}

.first-content {
  display: flex;
}
.first-content .second-column {
  z-index: 11;
}


.first-column {
  z-index: 10;
  text-align: center;
  width: 40%;
}

.second-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-media {
  margin: 1rem 0;
}

.link-social-media:not(:first-child) {
  margin-left: 10px;
}

.list-social-media {
  display: flex;
  list-style-type: none;
}

.link-social-media:hover .item-social-media {
  background-color: rgb(6, 105, 72);
  border-color: rgb(6, 105, 72);
  color: white;
}


.link-social-media .item-social-media {
  transition: background-color 0.5s;
}

.item-social-media {
  border: 1px solid rgba(69, 73, 72, 0.986);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: rgba(69, 73, 72, 0.986);
  
}

.form {
  display: flex;
  flex-direction: column;
  width: 55%;
  
}

.form input {
  background-color: #ecf0f1;
  border: none;
  height: 45px;
  width: 100%;
}

.label-color {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  margin: 8px;
}

.icon-modify {
  color: grey;
  padding: 0 5px;
}

           
/*
inicio do segundo conteudo*/

.second-content {
  position: absolute;
  display: flex;
}

.second-content .first-column {
  order: 2;
  z-index: -1;
}

.second-content .second-column {
  order: 1;
  z-index: -1;
}

.password  {
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0;
  text-align: center;
}

.password a{
  color: rgba(69, 73, 72, 0.986);
}

.sign-in-js .first-content .first-column{
  z-index: -1;
}

.sign-in-js .second-content .first-column {
  z-index: 13;
}
.sign-in-js .second-content .second-column {
  z-index: 11;
}
.sign-in-js .content::before {
  left: 60%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  animation: slidein 1.3s;
  z-index: 12;
}
.sign-up-js .content::before {
  animation: slideout 1.3s;
  z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
  z-index: -1;
}

.sign-up-js .first-content .second-column {
  z-index: 11;
}
.sign-up-js .first-content .first-column {
  z-index: 13;
}

/*DESLOCAMENTO DE CONTEUDO ATRAS DO CONTENT BEFORE*/

.sign-in-js .first-content .second-column {
  z-index: -1;
  position: relative;
  animation: deslocamentoLeft 1.3s;
}

.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoRight 1.3s;
  }



/*ANIMAÇÃO CSS PARA O CONTEÚDO*/

@keyframes deslocamentoLeft {
    from {
      left: 0;
      z-index: 12;
      
    }
  
    25% {
      left: -80px;
      
    }
  
    50% {
      left: -100px;
     
    }
  
    to {
      left: -110px;
      z-index: -1;
      
    }
  }
  
  @keyframes deslocamentoRight {
    from {
      left: 0;
      z-index: 12;
    
    }
  
    25% {
      left: 80px;
      
    }
  
    50% {
      left: 100px;
      
    }
  
    to {
      left: 110px;
      z-index: -1;
      
    }
  }
  

@keyframes slidein {
  from {
    left: 0;
    width: 40%;
  }

  25% {
    left: 5%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 45%;
    width: 50%;
  }

  to {
    left: 60%;
    width: 40%;
  }
}

@keyframes slideout {
  from {
    left: 60%;
    width: 40%;
  }

  25% {
    left: 45%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 5%;
    width: 50%; 
  }

  to {
    left: 0;
    width: 40%;
  }
}

@media screen and (max-width:1040px) {
  .content{
    width: 100%;
    height: 100%;
  }

  .content::before{
    width: 100%;
    height: 40%;
    top: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0px;

  }

  .first-content, .second-content{
    flex-direction: column;
    justify-content: space-around;
  }

  .first-column, .second-column{
    width: 100%;
  }

  .sign-in-js .content::before{
    top: 60%;
    left: 0;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0px;
  }
  
  .form{
    width: 70%;
  }
}

 /*ANIMAÇÃO MOBILE CSS*/

@keyframes deslocamentoLeft {

  from {
      top: 0;
      opacity: 1;
      z-index: 12;
  }

  25% {
      top: -80px;
      opacity: .5;
      
  }

  50% {
      top: -100px;
      opacity: .2;
      
  }

  to {
      top: -110px;
      opacity: 0;
      z-index: -1;
  }

}
@keyframes deslocamentoRight {

  from {
      top: 0;
      z-index: 12;
      opacity: 1;
  }

  25% {
      top: 80px;
      opacity: .5;
      
  }

  50% {
      top: 100px;
      opacity: .2;
      
  }

  to {
      top: 110px;
      z-index: -1;
      opacity: 0;
  }
}



@keyframes slidein {

  from {
      top: 0;
      height: 40%;
  }

  25% {
      top: 5%;
      height: 50%;
  }

  50% {
      top: 25%;
      height: 60%;
  }

  75% {
      top: 45%;
      height: 50%;
  }

  to {
      top: 60%;
      height: 40%;
  }
}

@keyframes slideout {

  from {
      top: 60%;
      height: 40%;
  }

  25% {
      top: 45%;
      height: 50%;
  }

  50% {
      top: 25%;
      height: 60%;
  }

  75% {
      top: 5%;
      height: 50%;
  }

  to {
      top: 0;
      height: 40%;
  }
}

@media screen and (max-width: 740px) {
.form {
  width: 50%;
}
}

@media screen and (max-width: 425px) {
.form {
  width: 100%;
}
}
