@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  background-color: white;
  border-radius: 15px;
  width: 960px;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.first-content {
  display: flex;
}
.first-content .second-column {
  z-index: 12;
}
.content::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: rgba(6, 105, 72, 0.904);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  left: 0%;
}

.first-column {
  z-index: 10;
  text-align: center;
  width: 40%;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.title-primary {
  color: white;
}
.title-second {
  color: rgba(6, 105, 72, 0.904);
}

.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.description-second {
  color: rgba(69, 73, 72, 0.986);
}
.description-primary{
  color: #fff;
}
.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  width: 150px;
  align-self: center;
  border: none;
}

.btn-primary {
  background-color: transparent;
  font-size: 12px;
  padding: 10px 50px;
  font-weight: bold;
  border: 1px solid white;
  transition: background-color 0.5s;
}

.btn-primary:hover {
  background-color: white;
  color: rgba(6, 105, 72, 0.904);
}
       
              /*SEGUNDA COLUNA*/
.second-column {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-second {
  background-color: #fff;
  font-size: 12px;
  padding: 10px 50px;
  font-weight: bold;
  border: 1px solid rgba(6, 105, 72, 0.904);
  color: rgba(6, 105, 72, 0.904);
  transition: background-color 0.5s;
}

.btn-second:hover {
  background-color: rgba(6, 105, 72, 0.904);
  color: white;
}

.social-media {
  margin: 1rem 0;
}

.item-social-media {
  border: 1px solid rgba(69, 73, 72, 0.986);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: rgba(69, 73, 72, 0.986);
  
}

.list-social-media {
  display: flex;
  list-style-type: none;
}

.link-social-media:hover .item-social-media {
  background-color: rgba(6, 105, 72, 0.904);
  border-color: rgba(6, 105, 72, 0.904);
  color: white;
}

.link-social-media:not(:first-child) {
  margin-left: 10px;
}
.link-social-media .item-social-media {
  transition: background-color 0.7s;
}

.item-social-media {
  border: 1px solid rgba(69, 73, 72, 0.986);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: rgba(69, 73, 72, 0.986);
}

.form {
  display: flex;
  flex-direction: column;
  width: 55%;
  text-align: center;
  
}

.form input {
  background-color: #ecf0f1;
  border: none;
  height: 45px;
  width: 100%;
}

.label-color {
  background-color: #ecf0f1;
  border-radius: 6%;
  padding: 7px;
  display: flex;
  align-items: center;
  margin: 8px;
}
.icon-modify {
  color: ;
  padding: 0 10px;
}

/*
inicio do segundo conteudo*/

.second-content {
  position: absolute;
  display: flex;
}

.second-content .first-column {
  order: 2;
  z-index: -1;
}

.second-content .second-column {
  order: 1;
  z-index: -1;
}

.password a {
  font-size: 14px;
  color: rgba(69, 73, 72, 0.986);
  font-weight: bold;
}

.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column {
  z-index: -1;
}

.sign-in-js .second-content .first-column {
  z-index: 13;
}
.sign-in-js .second-content .second-column {
  z-index: 11;
}
.sign-in-js .content::before {
  left: 56%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  animation: slidein 3s;
  z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
  z-index: -1;
}

.sign-up-js .first-content .second-column {
  z-index: 11;
}
.sign-up-js .first-content .first-column {
  z-index: 13;
}
.sign-up-js .content::before {
  left: 0;
  animation: slideout 3s;
  z-index: 12;
}
/*DESLOCAMENTO DE CONTEUDO ATRAS DO CONTENT BEFORE*/

.sign-in-js .first-content .second-column {
  z-index: -1;
  position: relative;
  animation: deslocamentoLeft 3s;
}

.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoRight 3s;
  }

/*ANIMAÇÃO CSS PARA O CONTEÚDO*/

@keyframes deslocamentoLeft {
    from {
      left: 0;
      z-index: 12;
      opacity: 1;
    }
  
    25% {
      left: -80px;
      opacity: .5;
    }
  
    50% {
      left: -100px;
      opacity: .2;
    }
  
    to {
      left: -110px;
      z-index: -1;
      opacity: 0;
    }
  }
  
  @keyframes deslocamentoRight {
    from {
      left: 0px;
      z-index: 12;
      opacity: 1;
    }
  
    25% {
      left: 80px;
      opacity: .5;
    }
  
    50% {
      left: 100px;
      opacity: .2;
    }
  
    to {
      left: 110px;
      z-index: -1;
      opacity: 0;
      
    }
  }
  

@keyframes slidein {
  from {
    left: 0;
    width: 40%;
  }

  25% {
    left: 5%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 45%;
    width: 40%;
  }

  to {
    left: 56%;
    width: 44%;
  }
}

@keyframes slideout {
  from {
    left: 56%;
    width: 44%;
  }

  25% {
    left: 45%;
    width: 40%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 5%;
    width: 45%;
  }

  to {
    left: 0;
    width: 44%;
  }
}

